@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pos-center {
    @apply
    top-1/2
    left-1/2
    -translate-x-1/2
    -translate-y-1/2
  }

  .ham-line {
    @apply
    bg-black
    w-full
    h-[3px]
    rounded-md
    block
    transition-transform
    absolute
    pos-center
  }

  .link-btn {
    @apply
    bg-secondary
    dark:bg-accent
    text-text-1
    dark:text-dark-text-1
    px-8
    py-3
    rounded-md
    hover:bg-secondary/75
    dark:hover:bg-accent/75
    text-lg
    font-bold
  }
}